<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- PERMISSIONS -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MindPeaceEX">
        <activity
            android:name=".CameraActivity"
            android:exported="false" />
        <activity
            android:name=".CalculatorActivity"
            android:exported="false" /> <!-- ✅ SPLASH (LAUNCHER) -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- FLOW ACTIVITIES -->
        <activity
            android:name=".AboutActivity"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" /> <!-- OTHER FEATURES -->
        <activity
            android:name=".AnalyticsActivity"
            android:exported="false" />
        <activity
            android:name=".FocusGameActivity"
            android:exported="false" />
        <activity
            android:name=".PTSDActivity"
            android:exported="false" />
        <activity
            android:name=".CategoryActivity"
            android:exported="false" />
        <activity
            android:name=".GuidedMeditationActivity"
            android:exported="false" />
        <activity
            android:name=".ReminderActivity"
            android:exported="false" />
        <activity
            android:name=".SoundActivity"
            android:exported="false" />
        <activity
            android:name=".VisualizerActivity"
            android:exported="false" />
        <activity
            android:name=".BreathingActivity"
            android:exported="false" />
        <activity
            android:name=".GratitudeActivity"
            android:exported="false" />
        <activity
            android:name=".MoodJournalActivity"
            android:exported="false" />
        <activity
            android:name=".MoodDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>